name: Terraform

on:
  workflow_dispatch:

env:
  AWS_REGION: us-east-1

jobs:
  terraform:
    name: Terraform Apply → Wait → Destroy
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: Terraform

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        run: terraform apply -auto-approve

      - name: Wait for 3 minutes
        run: sleep 300

      - name: Terraform Destroy
        run: terraform destroy -auto-approve
